				@model DevelSystem.Models.Encuesta
@{
	ViewBag.Title = "Encuestas";
}


<div class="row">
	<div class="col-md-8">
	<nav aria-label="breadcrumb">
	 <ol class="breadcrumb">
	<li class="breadcrumb-item">@Html.ActionLink("Inicio","Index","Home")</li>	
	<li class="breadcrumb-item active">Encuestas</li>
	</ol>
</nav>
	</div>
	<div class="col-md-4">
		
	</div>
</div>

<div class="container">
Gracias Por Responder
</div>
